@import url(//db.onlinewebfonts.com/c/1abfca112f592f17ef24628ab912f866?family=STIX);

body {
    margin-left:30px;
    width: 700px;
    font-family: STIX;
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
    background-color: #fffff8;
}

h1 {
    line-height: 30px;
    font-family: sans-serif;
    text-align: left;
}
