---
layout: default
---
<div class="w3-col l6 m12 s12">

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header" style="text-align:left;">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

</div>

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript" ></script>
<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "AMS" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
  <!-- POSTS -->
  <div class="w3-container w3-padding vb-posts">
  {{ content }}

  {% if site.posts.size > 0 %}
    {% for post in site.posts %}
      {% assign date_format = site.minima.date_format | default: "%b %2d, %Y" %}
      <li>{{ post.date | date: date_format }} | <a href="{{ post.url | relative_url }}">{{ post.title | escape | truncate: 70}}</a></li>
      {% endfor %}
  {% endif %}
  </div>
